<style>
	#successModal {
		background-color: rgba(80, 80, 80, 0.5);
	}
	
	#errorModal {
		background-color: rgba(80, 80, 80, 0.5);
	}

	p {
		font-size: 21px;
	}
</style>

<!-- Success modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><span id="successHeader"></span></h4>
			</div>
			<div class="modal-body">
				<p><span id="successTitle"></span></p>
				<span id="successBody"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" id="ok">OK</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Error modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><span id="errorHeader"></span></h4>
			</div>
			<div class="modal-body">
				<p><span id="errorTitle"></span></p>
				<span id="errorBody"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" id="ok">OK</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">

	// Setup modals
	$('#successModal').modal({
		keyboard: false,
		show: false,
		backdrop: "static"
	});

	$('#errorModal').modal({
		keyboard: false,
		show: false,
		backdrop: "static"
	});

	// Modal handler
	function showModal(res, cb) {
		switch (res[0]) {
			case "SUCCESS": {
				$('#successHeader').html("Erfolgreich");
				$('#successTitle').html(res[1]);
				$('#successBody').html(res[2]);
				$('#successModal').modal('show');
				$('#successModal').on('hidden.bs.modal', function (e) {
					cb();
				});
				break;
			}
			case "ERROR": {
				$('#errorHeader').html("Fehler");
				$('#errorTitle').html(res[1]);
				$('#errorBody').html(res[2]);
				$('#errorModal').modal('show');
				$('#errorModal').on('hidden.bs.modal', function (e) {
					cb();
				});
				break;
			}
			default: {
				console.log("NO_MODAL_NEEDED");
				return;
			}
		}
	}
</script>