<div class="jumbotron">
  <h3>Vertretungsplan hochladen</h3>
  <br>
  <form action="/vplans" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="file_upload">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>