<div class="jumbotron">
  <h3>Vertretungsplan hochladen</h3>
  <br>
  <form>
    <div class="form-group">
      <input type="file">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>

{{> actionModals}}

<script type="text/javascript">
  // Form submittion handler
  $('form').submit(function (evt) {
    evt.preventDefault();

    // Read the file on the client side
    var file = $('input:file').get()[0].files[0];

    if (!file) {
      showModal(["ERROR", "Keine Datei ausgewählt"], function () {

      });
      return;
    }

    // Wrong file-type handler (just xml allowed)
    if (file.name.split('.')[file.name.split('.').length - 1] != 'xml') {
      showModal(["ERROR", "Falscher Datei-Typ (nicht .xml)"], function () {
        location.reload(true);
      });
      return;
    }

    var fileReader = new FileReader();
    fileReader.onload = function () {
      // Upload the read file

      $.post('/api', {
        filename: file.name,
        data: fileReader.result
      }, function (res) {
        showModal(res, function () {
          // Redirect to vplan selection
          location.href = location.pathname;
        });
      });
    };

    fileReader.readAsText(file);
  });

</script>