<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>manosVplan</title>

	<!-- Bootstrap -->
	<link href="/public/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap table-->
	<link href="/public/bootstrap-table.min.css" rel="stylesheet">
	<!-- Bootstrap table plugins -->
	<link href="/public/bootstrap-table-reorder-rows.css" rel="stylesheet">
	<link href="/public/bootstrap-table-sticky-header.css" rel="stylesheet">
	<link href="/public/bootstrap-editable.css" rel="stylesheet">

	<!-- Bootstrap theme -->
	<!--SPACELAB-->
	<link href="/public/bootstrap_theme.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/public/font-awesome.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="/public/html5shiv.min.js"></script>
      <script src="/public/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/public/jquery.min.js"></script>
	<!-- Bootstrap Javascript -->
	<script src="/public/bootstrap.min.js"></script>
	<!-- Bootstrap table Javascript -->
	<script src="/public/bootstrap-table.min.js"></script>
	<!-- Bootstrap table tocale Javascript -->
	<script src="/public/bootstrap-table-de-DE.min.js"></script>
	<!-- Bootstrap table plugins -->
	<script src="/public/bootstrap-editable.min.js"></script>
	<script src="/public/bootstrap-table-editable.js"></script>
	<script src="/public/jquery.tablednd.js"></script>
	<script src="/public/bootstrap-table-reorder-rows.js"></script>
	<script src="/public/bootstrap-table-sticky-header.js"></script>
	<script src="/public/socket.io-2.0.3.js"></script>

	{{{body}}}

</body>

</html>