<h1 id="day" style="text-align: center;"></h1>
<h2 id="date" style="text-align: center;"></h2>
<br>
<table style="font-size: 21px; color: black" hidden>
  <tr>
    <td style="padding-right: 20px">Abwesende Lehrer: </td>
    <td id="abwesend_lehrer"></td>
  </tr>
  <tr>
    <td style="padding-right: 20px">Klassen mit Änderung: </td>
    <td id="aenderung_klassen"></td>
  </tr>
</table>


<script type="text/javascript">
  console.log('/' + location.pathname.split('/')[1] + '/' + location.pathname.split('/')[2]);

  if (location.pathname.split('/')[2] == "heute") {
    $('#day').html("Heute");
  } else {
    $('#day').html("Morgen");
  }

  $.getJSON('/' + location.pathname.split('/')[1] + '/' + location.pathname.split('/')[2], function (data) {
    if (data == "NO_VPLAN_AVAILABLE") {
      // $.get("/placeholder", function (html) {
      //   $('body').html(html);
      // });
      return;
    }

    console.log(data);

    $.getJSON("/settings", function (settings) {
      $('table').removeAttr('hidden');

      console.log(settings);

      $('#date').html(data.kopf.date);

      $('#abwesend_lehrer').html(data.kopf.abwesend_lehrer);
      $('#aenderung_klassen').html(data.kopf.aenderung_klassen);
    });
  });

</script>

{{> reloadSocket}}