<style>
  body {
    overflow: hidden;
  }

  .table-striped>tbody>tr:nth-child(2)>td {
    border-top-color: #6e6e6e;
  }
</style>

<table hidden id="vplan" style="color: black; font-size: 20px;" class="table table-striped">
  <th>Klasse/Kurs</th>
  <th>Stunde</th>
  <th>Fach</th>
  <th>Lehrer</th>
  <th>Raum</th>
  <th>Info</th>
</table>

<script type="text/javascript">
  function calcDisplayTime(tableProportion, settings) {
    if (tableProportion <= 0.25) {
      return settings.displayTime['0-25'];
    } else if (tableProportion <= 0.5) {
      return settings.displayTime['25-50'];
    } else if (tableProportion <= 0.75) {
      return settings.displayTime['50-75'];
    } else if (tableProportion <= 1) {
      return settings.displayTime['75-100'];
    }
  }

  function loop(data, settings, cycle) {
    $('table').attr('hidden');

    $("tr[data]").remove();

    $.each(data.vplan, function (i, item) {
      if ((i + 1) <= cycle || $('table').height() > $(window).height()) {
        return;
      }

      var newRow = $('<tr data>').html("<td>" + item.klasse + "</td><td>" + item.stunde + "</td><td>" + item.fach + "</td>" + "</td><td>" + item.lehrer + "</td>" + "</td><td>" + item.raum + "</td>" + "</td><td>" + item.info + "</td>");
      newRow.appendTo('#vplan');

      if ($('table').height() > $(window).height()) {
        newRow.remove();
      }
    });

    $('table').removeAttr('hidden');

    var tableProportion = $('table').height() / $(window).height();
    console.log(tableProportion * 100 + "%");

    var displayTime = calcDisplayTime(tableProportion, settings) * 1000;
    console.log("displayTime: " + displayTime + " ms");

    setTimeout(function () {
      if ((cycle + $("tr[data]").length) == data.vplan.length) {
        cycle = -$("tr[data]").length;
      }

      loop(data, settings, (cycle + $("tr[data]").length));
    }, displayTime);
  }



  console.log('/' + location.pathname.split('/')[1] + '/' + location.pathname.split('/')[2]);

  $.getJSON('/' + location.pathname.split('/')[1] + '/' + location.pathname.split('/')[2], function (data) {
    if (data == "NO_VPLAN_AVAILABLE") {
      $.get("/placeholder", function (html) {
        $('body').html(html);
      });

      return;
    }

    $.getJSON("/settings", function (settings) {
      console.log(settings);

      var cycle = 0;
      loop(data, settings, cycle);
    });
  });

</script>

{{> reloadSocket}}